.app__hero {
  width:100%;
  background: var(--color-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 4rem 6rem;

}
.app__hero-img {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.app__hero-img img{
 transform:scale(.8);

}
.app__hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.app__hero-info_head {

  font-family: var(--font-title);
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
}
.app__hero-info_para {

  font-family: var(--font-para);
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  margin: 1rem 0;
}
.app__hero-info_link {
 
  border: 2px solid var(--color-black);
  font-family: var(--font-title);
 
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;

  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  color: var(--color-black);
}
.app__hero-info_link:hover {
  background-color: var(--color-black);
  color: var(--color-bg);
}

@media screen and (max-width: 1150px) {
  .app__hero {
    padding: 0.5rem 1rem;
  }
  .app__hero-img {
    width: 50%;
  }
  .app__hero-img img {
    transform: scale(0.7);
  }

  .app__hero-info_head {
    font-size: 40px;
    line-height: 32px;
  }
  .app__hero-info_para {
   
    font-size: 30px;
    line-height: 1.6;
    margin: 1rem 0;
  }
  .app__hero-info_link {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .app__hero {
    padding: 0.5rem 1.5rem;
  }
  .app__hero-img {
    width: 50%;
  }
  .app__hero-img img {
    transform: scale(0.65);
  }

  .app__hero-info_head {
    font-size: 38px;
    line-height: 30px;
  }
  .app__hero-info_para {
    width: 90%;
    font-size: 28px;
    line-height: 1.6;
    margin: 1rem 0;
  }
  .app__hero-info_link {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
 
  .app__hero-img img {
    transform: scale(0.55);
  }

  .app__hero-info_para {
    width: 95%;
    font-size: 25px;
    line-height: 1.6;
    margin: 1rem 0;
   
  }
  .app__hero-info_link {
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .app__hero {
    flex-direction: column;
    padding: 4rem 1.5rem;
  }
  .app__hero-img {
    width: 90%;
  }
  .app__hero-img img {
    transform: scale(0.75);
  }
  .app__hero-info {
    align-items:center;
  
  }
  .app__hero-info_head {
    font-size: 42px;
    line-height: 34px;
  }
  .app__hero-info_para {
    width: 90%;
    font-size: 28px;
    line-height: 1.6;
    margin: 1.4rem 0;
    text-align:center;
  }
  .app__hero-info_link {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .app__hero {
    padding: 2.5rem 1.5rem;
  }
  .app__hero-img {
    width: 95%;
  }

  .app__hero-img img {
    transform: scale(0.5);
  }
  .app__hero-info_head {
    font-size: 40px;
    line-height: 32px;
  }
  .app__hero-info_para {
    width: 95%;
    font-size: 25px;
    text-align:center;
    margin: 1.2rem 0;
  }
  .app__hero-info_link {
    font-size: 29px;
  }
}
@media screen and (max-width: 350px) { 
  .app__hero-img img {
    transform: scale(0.44);
  }
  .app__hero-info_head {
    font-size: 35px;
    line-height: 28px;
  }
  .app__hero-info_para {
    width: 95%;
    font-size: 22px;
    margin: 1rem 0;
  }
  .app__hero-info_link {
    font-size: 25px;
  }
}
