.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background: var(--color-bg);
  padding: 2rem 6rem;
}
.app__navbar-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__navbar-blank {
  flex: 1;
}

.app__navbar-smallscreen {
  display: none;
  cursor: pointer;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(241, 241, 232, 0.9);

  transition: 0.5s ease;
  

  flex-direction: column;
  gap: 2rem 0;
  z-index: 5;
}
.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}


@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1.5rem;
  }
  .app__navbar-logo img {
    width: 110px;
  }
}
