@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700;900&display=swap");

:root {
  --font-title: Poppins, sans-serif;
  --font-para: Inter, sans-serif;

  --color-black: #040404;
  --color-bg: #f1f1e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}
